html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	width: 1000px;
	font-family: 'Baloo Thambi', cursive,'微軟正黑體';
	text-align: center;
	font-size: 24px;
	min-height: 100%;
}
h1{
	color: #404040;
	text-shadow: 3px 2px #1E1E1E;
}
.header,.footer{
  height: 100px;
  width: 1000px;
  text-align: center;
  line-height: 100px;
  color: #404040;
  font-size: 50px;
  font-weight: bold;
}
.footer{
	font-size: 18px;
}
table{
	border: 2px solid white;
	border-collapse:collapse;
	width: 600px;
	margin-left: 100px;
}
td,th{
	border: 1px solid white;
}
a{
	color: #FF1462;
}
a:hover{
	color: black;
}
th{
	background-color: #FF4800;
	color: white;
	
}
input[type=submit]{
	background-color: #FF4800;
}
input[type=submit]{
	background-color: #404040;
	color: white;
	width: 100px;
	height: 40px;
	text-align: center;
	font-family: Georgia,'微軟正黑體';
	border-width: 0px;
	font-size: 24px;
	margin-top: 20px;
}

span{
	color: #FF1462;
}
ul{
	margin-left: 5px;
	margin-right: 5px;
}
li{
	width:320px;
	height: 260px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 4px;
	float: left;
}
img{
	width: 320px;
	height: 240px;
}
.clear{
	clear: both;
}