<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://fezvrasta.github.io/bootstrap-material-design/dist/js/material.min.js"></script>
<script type="text/javascript" src="http://fezvrasta.github.io/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js"></script>
<script type="text/javascript" src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script type="text/javascript" src="http://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

<style>
p{
  font-weight: bold;
  font-size: 2.5em;
  padding-top: 40px;
}

input[type=file] {
    margin: 0 auto;
}
ul{
  margin-left: 5px;
  margin-right: 5px;
}
li{
  width:320px;
  height: 260px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 4px;
  float: left;
}
img{
  width: 320px;
  height: 240px;
}
.clear{
  clear: both;
}

</style>
<%
if(uName == ""){
  %><a href="/register"><img class="btn" src="assets/images/sign_btn.png"/></a> 
<a href="/login"><img class="btn" src="assets/images/login_btn.png"/></a><br/><%
}else{
  %><h3>哈囉! <%=uName%></h3>
  <a href="/"><img class="btn" src="assets/images/index_btn.png"/></a>
  <%
}

%>
<a href="/painter">畫圖</a><br/>


<div ng-app='img2fire'>
  <div ng-controller='base64Ctrl'>
    <div class="container-fluid">
      
      <hr />
      <ul>
      <li ng-repeat="img in imgs | toArray | orderBy: '-date'" class="col-xs-12 col-sm-6 col-md-3">
        <img ng-src="{{img.base64}}">
        <a  href="/work?id={img.uId}">{{img.wName}}</a>
        <a class="btn btn-danger btn-block" ng-click="deleteimg(img.$id)">Delete</a>
      </li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>


<script>

var uAccount = "<%=uAccount%>";
console.log(uAccount);

var img2fire = angular.module('img2fire', ['firebase', 'angular.filter']);
img2fire.controller("base64Ctrl", function($scope, $firebaseArray) {
  

  var img = new Firebase("https://supercp-a8e9e.firebaseio.com/images/"+uAccount);
  $scope.imgs = $firebaseArray(img);

  

  $scope.deleteimg = function(imgid) {
    var r = confirm("Do you want to remove this image ?");
    if (r == true) {
      $scope.imgs.forEach(function(childSnapshot) {
        if (childSnapshot.$id == imgid) {
            $scope.imgs.$remove(childSnapshot).then(function(ref) {
              ref.key() === childSnapshot.$id; // true
            });
        }
      });
    }
  }

});

</script>
