<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//fezvrasta.github.io/bootstrap-material-design/dist/js/material.min.js"></script>
<script type="text/javascript" src="//fezvrasta.github.io/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js"></script>
<script type="text/javascript" src="//cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script type="text/javascript" src="//cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
<script src="../public/assets/js/jquery.js"></script>
<script src="../public/assets/js/jquery.ui.widget.js"></script>
<script src="../public/assets/js/jquery.fileupload.js"></script>
<link rel="stylesheet" href="../public/assets/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Baloo+Thambi" rel="stylesheet">
<style>
div.header a{
  text-decoration:none;
  color:#000;
}
p{
  font-weight: bold;
  font-size: 2.5em;
  padding-top: 40px;
}
#delete{
  cursor:pointer;
}
a.imgname{
  font-weight: light;
  font-size: 18px;
  padding: 0px;
  color: #3C3C3C;
  cursor: default;
}
input[type=file] {
    margin: 0 auto;
}
ul{
  margin-left: 5px;
  margin-right: 5px;
}
li{
  width:320px;
  height: 280px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 4px;
  float: left;
}
img{
  width: 320px;
  height: 240px;
}
.clear{
  clear: both;
}
</style>
<%
if(uNum == ""){
  %><a href="/register"><img class="btn" src="../public/assets/images/sign_btn.png"/></a> 
<a href="/login"><img class="btn" src="../public/assets/images/login_btn.png"/></a><br/><%
}else{
  %>
  <a href="/"><img class="btn" src="../public/assets/images/index_btn.png"/></a>
  <a href="/painter"><img class="btn" src="../public/assets/images/paint_btn.png"/></a><br/>


  <%
  if(uNum==id){ %>
    <div ng-app='img2fire'>
      <div ng-controller='base64Ctrl'>
        <div class="container-fluid">
        
        <hr />
        <ul>
        <li ng-repeat="img in imgs | toArray | orderBy: '-date'" class="col-xs-12 col-sm-6 col-md-3">
          <a href="../wark?id={{img.$id}}&author={{img.uId}}"><img ng-src="{{img.base64}}"></a>
          <a class="imgname">{{img.wName}}</a>
          <a id="delete" class="btn btn-danger btn-block" ng-click="deleteimg(img.$id)">Delete</a>
        </li>
        </ul>
        <div class="clear"></div>
      </div>
    </div><%
  }else{%>
    <div ng-app='img2fire'>
      <div ng-controller='base64Ctrl'>
        <div class="container-fluid">
        
        <hr />
        <ul>
        <li ng-repeat="img in imgs | toArray | orderBy: '-date'" class="col-xs-12 col-sm-6 col-md-3">
          <a href="../wark?id={{img.$id}}&author={{img.uId}}"><img ng-src="{{img.base64}}"></a>
          <a class="imgname">{{img.wName}}</a>
        </li>
        </ul>
        <div class="clear"></div>
      </div>
    </div><%
}
  }%>
<script>

var uAccount = "<%=authorAccount%>";
console.log(uAccount);

var img2fire = angular.module('img2fire', ['firebase', 'angular.filter']);
img2fire.controller("base64Ctrl", function($scope, $firebaseArray) {
  

  var img = new Firebase("https://supercp-a8e9e.firebaseio.com/"+uAccount);
  $scope.imgs = $firebaseArray(img);

  var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png"];

  

  $scope.deleteimg = function(imgid) {
    if (imgid==1){
     var r = alert("You can't delete this image!");
    }else{
      var r = confirm("Do you want to remove this image ?");
      if (r == true) {
        $scope.imgs.forEach(function(childSnapshot) {
          if (childSnapshot.$id == imgid) {
              $scope.imgs.$remove(childSnapshot).then(function(ref) {
                ref.key() === childSnapshot.$id; // true
              });
          }
        });
      }
    }
  }

});

</script>
