<%if(uNum == ""){
  %><div class="options"><a href="/register"><img class="btn" src="assets/images/sign_btn.png"/></a> 
<a href="/login"><img class="btn" src="assets/images/login_btn.png"/></a></div><%
}else{
  %>
  <div class="options"><a href="/personal"><img class="btn" src="assets/images/arts_btn.png"/></a>
  <a href="/logout"><img class="btn" src="assets/images/logout_btn.png"/></a>
  <a href="/painter"><img class="btn" src="assets/images/paint_btn.png"/></a></div><%
 }%>

<img src="<%=img%>">
<%=date%>
<a href="personal/?id=<%=authorId%>"><%=authorName%></a>